body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

h1 {
    text-align: center;
}

.cardPanel {
    align:center;
}

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}
.gwt-DialogBox .dialogBottomCenter {
    background: url(img/hborder.png) repeat-x 0px -2945px;
}
.gwt-DialogBox .dialogMiddleLeft {
    background: url(img/vborder.png) repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
    background: url(img/vborder.png) repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
    background: url(img/circles.png) no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
    background: url(img/circles.png) no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
    background: url(img/circles.png) no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
    background: url(img/circles.png) no-repeat -8px -36px;
}
* html .gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    overflow: hidden;
}.gwt-PopupPanelGlass {
     background-color: #000;
     opacity: 0.3;
     filter: alpha(opacity=30);
 }

.gwt-DialogBox .Caption {
    background: #F1F1F1;
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}
.gwt-DialogBox .dialogBottomCenter {
    background: url(img/hborder.png) repeat-x 0px -2945px;
}
.gwt-DialogBox .dialogMiddleLeft {
    background: url(img/vborder.png) repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
    background: url(img/vborder.png) repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    height: 8px;
    zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
    background: url(img/circles.png) no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
    background: url(img/circles.png) no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
    background: url(img/circles.png) no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
    background: url(img/circles.png) no-repeat -8px -36px;
}
* html .gwt-DialogBox .dialogTopLeftInner {
    width: 10px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
    width: 12px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 10px;
    height: 12px;
    overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
    width: 12px;
    height: 12px;
    overflow: hidden;
}
